@use 'variables';

button {
    padding: 2rem 1rem 1rem 1rem;
    border: none;
    text-transform: uppercase;
    font-size: .8rem;
    color: variables.$white;
    font-weight: bold;
    letter-spacing: 1px;
    &.small{
      padding: 0rem 1rem .5rem 2rem;
      background-color: variables.$white;
      border: 1px solid variables.$emerald;
    }
    &.primary {
      background-color: variables.$emerald;
    }
    &.inverted {
      background-color: variables.$white;
      color: variables.$emerald;
    }
    &.fire {
      background-color: variables.$fire;
      color: variables.$white;
    }
    &.fire_inverted {
      background-color: variables.$white;
      color: variables.$fire;
      border:1px solid variables.$fire;
    }
}

.long-arrow-right{
  display: inline-block;
  margin: 14px auto 0;
  width: 15px;
  height: 15px;
  border-top: 1px solid variables.$white;
  border-left: 1px solid variables.$white;
  margin-left: 42px;
  overflow: hidden;
  &.inverted {
    border-top: 1px solid variables.$emerald;
    border-left: 1px solid variables.$emerald;
  }
}

.long-arrow-right{
 transform: rotate(89deg);
}

.long-arrow-right::after{
  content: "";
  display: block;
  width: 1px;
  height: 45px;
  background-color: variables.$white;
  transform: rotate(-45deg) translate(15px, 4px);
  left: 0;
  top: 0;
}

.long-arrow-right.inverted::after{
  content: "";
  display: block;
  width: 1px;
  height: 45px;
  transform: rotate(-45deg) translate(15px, 4px);
  left: 0;
  top: 0;
  background-color: variables.$emerald;
}

input {
  background: inherit;
  border: none;
  border-bottom: 1px solid variables.$white;
  padding: 0.5rem 0.1rem;
  color: variables.$white;
  &::placeholder {
    color: variables.$white;
  }
}

.toggle_btn {
  background: none;
  color: variables.$emerald;
  padding: 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .cross {
    &:before {
      transform: rotate(0deg);
      transition: .3s ease all;
    }
    &:after {
      transform: rotate(-90deg);
      transition: .3s ease all;
    }
  }

  &.active {
    .cross{
      &:before {
        transform: rotate(45deg);
        transition: .3s ease all;
      }
      &:after {
        transform: rotate(-45deg);
        transition: .3s ease all;
      }
    }
  }
  .address_body {
    font-size: .8rem;
  }
}

.cross {
  position: relative;
  width: 12px;
  height: 12px;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }
  &:before, &:after {
    position: absolute;
    content: ' ';
    height: 12px;
    width: 2px;
    background-color: variables.$emerald;
  }
}

.collapsible_section {
  margin-bottom: 1rem;
  border-bottom: 1px solid variables.$emerald;
  .content {
    height: 0;
    transition: .5s ease all;
    overflow: hidden;
    &.active {
      height: 238px;
      padding-bottom: 1rem;
      transition: .5s ease all;
    }
  }
}
.hours_body {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}