@use 'variables';

button {
    padding: 2rem 1rem 1rem 1rem;
    border: none;
    text-transform: uppercase;
    font-size: .8rem;
    color: variables.$white;
    font-weight: bold;
    letter-spacing: 1px;
    &.small{
      padding: 0rem 1rem .5rem 2rem;
      background-color: variables.$white;
      border: 1px solid variables.$emerald;
    }
    &.primary {
      background-color: variables.$emerald;
    }
    &.inverted {
      background-color: variables.$white;
      color: variables.$emerald;
    }
}

.long-arrow-right{
  display: inline-block;
  margin: 14px auto 0;
  width: 15px;
  height: 15px;
  border-top: 2px solid variables.$white;
  border-left: 2px solid variables.$white;
  margin-left: 42px;
  overflow: hidden;
  &.inverted {
    border-top: 2px solid variables.$emerald;
    border-left: 2px solid variables.$emerald;
  }
}

.long-arrow-right{
 transform: rotate(89deg);
}

.long-arrow-right::after{
  content: "";
  display: block;
  width: 2px;
  height: 45px;
  background-color: variables.$white;
  transform: rotate(-45deg) translate(15px, 4px);
  left: 0;
  top: 0;
}

.long-arrow-right.inverted::after{
  content: "";
  display: block;
  width: 2px;
  height: 45px;
  transform: rotate(-45deg) translate(15px, 4px);
  left: 0;
  top: 0;
  background-color: variables.$emerald;
}