@use 'variables';

#bites_section {

    #bites_gallery {
        figure {
            display: grid;
            grid-template: min-content auto min-content / repeat(12,1fr);
            column-gap: 1rem;
            div {
                grid-column: span 6;
                margin-bottom: 0;
                height: 150px;
            }
            figcaption {
                grid-column: span 6;
            }
        }
    }
}